/* styles.css */
header {
    display: flex;
    position:sticky;
    top:0px;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom-left-radius : 20px;
    border-bottom-right-radius : 20px;
    background-color: white;
    border-bottom: 2px solid rgb(210, 205, 205);
    box-shadow: #d35400;
    font-weight: 800;
    color: #1aa9a2;
  }
  
  .logo{
    width: 30px;
    height: 30px;
  }
  
  .dp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; 
    border: 2px solid #fff;
  }
  